
@{
    ViewBag.Title = "TinTuc";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<link href="~/Content/style_K/Style_TinTuc.css" rel="stylesheet" />
<section class="news-section">
    <article class="news-card">
        <img src="~/Content/img/TinTuc.jpg" />

        <h3>Trí tuệ nhân tạo tạo nên kỷ nguyên mới</h3>
        <p>AI ngày càng đóng vai trò quan trọng trong y tế, giáo dục và tự động hóa. Nhiều công ty đang ứng dụng AI để tối ưu năng suất và giảm chi phí vận hành.</p>
        <a href="https://vnexpress.net/khi-nao-may-tinh-luong-tu-thanh-hien-thuc-4860164.html" class="btn">Đọc thêm</a>
    </article>

    <article class="news-card">
        <img src="~/Content/img/TinTuc.jpg" />        
        <h3>Điện thoại gập thế hệ mới ra mắt 2025</h3>
        <p>Samsung và Oppo tung ra mẫu smartphone gập siêu mỏng, pin bền hơn 30% và camera được tích hợp AI giúp chụp đêm ấn tượng hơn bao giờ hết.</p>
        <a href="https://vnexpress.net/khi-nao-may-tinh-luong-tu-thanh-hien-thuc-4860164.html" class="btn">Đọc thêm</a>
    </article>

    <article class="news-card">
        <img src="~/Content/img/TinTuc.jpg" />        
        <h3>Máy tính lượng tử đạt tốc độ kỷ lục</h3>
        <p>IBM công bố chip lượng tử mới có khả năng xử lý nhanh gấp hàng triệu lần so với máy tính truyền thống, mở ra hướng đi mới cho AI và khoa học dữ liệu.</p>
        <a href="https://vnexpress.net/khi-nao-may-tinh-luong-tu-thanh-hien-thuc-4860164.html" class="btn">Đọc thêm</a>
    </article>
    <article class="news-card">
        <img src="~/Content/img/TinTuc.jpg" />        
        <h3>Trí tuệ nhân tạo tạo nên kỷ nguyên mới</h3>
        <p>AI ngày càng đóng vai trò quan trọng trong y tế, giáo dục và tự động hóa. Nhiều công ty đang ứng dụng AI để tối ưu năng suất và giảm chi phí vận hành.</p>
        <a href="https://vnexpress.net/khi-nao-may-tinh-luong-tu-thanh-hien-thuc-4860164.html" class="btn">Đọc thêm</a>
    </article>

    <!-- Tin 2 -->
    <article class="news-card">
        <img src="~/Content/img/TinTuc.jpg" />
        <h3>Điện thoại gập thế hệ mới ra mắt 2025</h3>
        <p>Samsung và Oppo tung ra mẫu smartphone gập siêu mỏng, pin bền hơn 30% và camera được tích hợp AI giúp chụp đêm ấn tượng hơn bao giờ hết.</p>
        <a href="https://vnexpress.net/khi-nao-may-tinh-luong-tu-thanh-hien-thuc-4860164.html" class="btn">Đọc thêm</a>
    </article>

    <!-- Tin 3 -->
    <article class="news-card">
        <img src="~/Content/img/TinTuc.jpg" />
        <h3>Máy tính lượng tử đạt tốc độ kỷ lục</h3>
        <p>IBM công bố chip lượng tử mới có khả năng xử lý nhanh gấp hàng triệu lần so với máy tính truyền thống, mở ra hướng đi mới cho AI và khoa học dữ liệu.</p>
        <a href="https://vnexpress.net/khi-nao-may-tinh-luong-tu-thanh-hien-thuc-4860164.html" class="btn">Đọc thêm</a>
    </article>

    <!-- Tin 4 -->
    <article class="news-card">
        <img src="~/Content/img/TinTuc.jpg" />
        <h3>Công nghệ thực tế ảo nâng cấp mạnh mẽ</h3>
        <p>Các hãng như Meta và Apple đang cạnh tranh trong lĩnh vực thực tế ảo, đưa người dùng vào thế giới ảo chân thật hơn với độ phân giải cực cao.</p>
        <a href="https://vnexpress.net/khi-nao-may-tinh-luong-tu-thanh-hien-thuc-4860164.html" class="btn">Đọc thêm</a>
    </article>

    <!-- Tin 5 -->
    <article class="news-card">
        <img src="~/Content/img/TinTuc.jpg" />
        <h3>Robot thế hệ mới có thể giao tiếp như con người</h3>
        <p>Công nghệ chuỗi khối đang được dùng trong quản lý dữ liệu y tế, tài chính và chuỗi cung ứng nhờ tính minh bạch và bảo mật cao.</p>
        <a href="https://vnexpress.net/khi-nao-may-tinh-luong-tu-thanh-hien-thuc-4860164.html" class="btn">Đọc thêm</a>
    </article>

    <!-- Tin 6 -->
    <article class="news-card">
        <img src="~/Content/img/TinTuc.jpg" />
        <h3>An ninh mạng trở thành ưu tiên toàn cầu</h3>
        <p>Công nghệ chuỗi khối đang được dùng trong quản lý dữ liệu y tế, tài chính và chuỗi cung ứng nhờ tính minh bạch và bảo mật cao.</p>
        <a href="https://vnexpress.net/khi-nao-may-tinh-luong-tu-thanh-hien-thuc-4860164.html" class="btn">Đọc thêm</a>
    </article>

    <!-- Tin 7 -->
    <article class="news-card">
        <img src="~/Content/img/TinTuc.jpg" />
        <h3>Xe điện sắp vượt qua xe xăng vào năm 2030</h3>
        <p>Công nghệ chuỗi khối đang được dùng trong quản lý dữ liệu y tế, tài chính và chuỗi cung ứng nhờ tính minh bạch và bảo mật cao.</p>
        <a href="https://vnexpress.net/khi-nao-may-tinh-luong-tu-thanh-hien-thuc-4860164.html" class="btn">Đọc thêm</a>
    </article>

    <!-- Tin 8 -->
    <article class="news-card">
        <img src="~/Content/img/TinTuc.jpg" />
        <h3>Blockchain được ứng dụng ngoài tiền điện tử</h3>
        <p>Công nghệ chuỗi khối đang được dùng trong quản lý dữ liệu y tế, tài chính và chuỗi cung ứng nhờ tính minh bạch và bảo mật cao.</p>
        <a href="https://vnexpress.net/khi-nao-may-tinh-luong-tu-thanh-hien-thuc-4860164.html" class="btn">Đọc thêm</a>
    </article>

    <!-- Tin 9 -->
    <article class="news-card">
        <img src="~/Content/img/TinTuc.jpg" />
        <h3>Mạng 5G mở đường cho thành phố thông minh</h3>
        <p>Công nghệ chuỗi khối đang được dùng trong quản lý dữ liệu y tế, tài chính và chuỗi cung ứng nhờ tính minh bạch và bảo mật cao.</p>
        <a href="https://vnexpress.net/khi-nao-may-tinh-luong-tu-thanh-hien-thuc-4860164.html" class="btn">Đọc thêm</a>
    </article>
</section>

