.service-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

.service-card {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 25px 15px;
    text-align: center;
    background-color: #fff;
}

    .service-card i {
        font-size: 40px;
        color: #161726;
        margin-bottom: 10px;
    }

    .service-card h3 {
        font-size: 18px;
        margin-bottom: 8px;
        color: #333;
    }

    .service-card p {
        font-size: 14px;
        color: #555;
        line-height: 1.5;
    }
