
@{
    ViewBag.Title = "Iphon17";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<link href="~/Content/style_K/Style_TrangCuThe.css" rel="stylesheet" />
<section class="container">
    @*Hình ảnh sản phẩm*@
    <div class="product-image">
        <img src="~/Content/img/b1.png" alt="iPhone 14 Plus">
    </div>

    @*Thông tin sản phẩm*@
    <div class="product-info" data-id="iPhone-14-Plus-128GB" data-price="17490000">
        <h1 class="name">iPhone 14 Plus 128GB</h1>
        <p class="price">17.490.000₫ <span class="old-price">27.990.000₫</span></p>
        <p class="vat">(Đã bao gồm VAT)</p>

        <div class="section">
            <h3>Dung lượng</h3>
            <div class="options">
                <button class="option active">128GB</button>
                <button class="option">256GB</button>
                <button class="option">512GB</button>
            </div>
        </div>

        <div class="section">
            <h3>Màu sắc</h3>
            <div class="colors">

                <span class="color black"></span>
                <span class="color red active"></span>
                <span class="color blue"></span>
                <span class="color yellow"></span>
            </div>
        </div>

        <div class="section">
            <h3>Ưu đãi</h3>
            <ul class="offers">
                <li>Giảm 200.000đ khi thanh toán qua VNPAY.</li>
                <li>Hỗ trợ trả góp 0% lãi suất.</li>
                <li>Ốp lưng chính hãng giảm 990.000đ khi mua kèm.</li>
                <li>Thu cũ đổi mới – trợ giá lên đến 1.000.000đ.</li>
            </ul>
        </div>

        

        <button class="buy-btn add-to-cart">THÊM VÀO GIỎ HÀNG<i class="fa-solid fa-cart-shopping"></i></button>
    </div>
    
</section>

<div class="infor">
    <h1>Chi tiết sản phẩm </h1>
    <span>
        IPhone 17 256GB - Dung lượng lý tưởng cho đa nhiệm, chip A19 mạnh mẽ, camera 48MP sắc nét, pin trâu 3600mAh. Trải nghiệm ngay!

        IPhone 17 256GB không chỉ là bản nâng cấp về hiệu năng mà còn mang đến trải nghiệm hoàn hảo cho cả công việc và giải trí. Với hàng loạt cải tiến đột phá, đây xứng đáng là sự lựa chọn tối ưu cho người dùng hiện đại. Cùng khám phá những điểm nổi bật khiến iPhone 17 256GB trở thành siêu phẩm đáng mong đợi!
    </span>
    <img src="https://shopdunk.com/images/uploaded/iPhone%2017%20ch%C3%ADnh%20th%E1%BB%A9c/iPhone-17-mau-moi.jpg" alt="Alternate Text" />
    <span>
        Apple nghiên cứu sử dụng vật liệu nhôm cao cấp, giúp iPhone 17 nhẹ chỉ 177g - nặng hơn một chút với iPhone 16 (170g), tuy nhiên trải cảm giác cầm nắm trên tay sẽ khó nhận ra sự khác biệt về trọng lượng. Trọng lượng này hợp lý khi viên pin của iPhone 17 có thời lượng tốt hơn so với iPhone 16 đến hàng giờ sử dụng.

        Viền màn hình của iPhone 17 cũng được thu gọn tối đa, tăng diện tích hiển thị mà không làm thay đổi kích thước tổng thể. Nhìn chung, về thiết kế tổng thể, iPhone 17 tương đồng với iPhone 16 nhưng được tinh gọn viền, dynamic island, vật liệu Nhôm nguyên khối siêu nhẹ và kính Ceramic Shield đời 2 tăng cường độ cứng cáp cho máy.
    </span>
    <img src="https://shopdunk.com/images/uploaded/iPhone%2017%20ch%C3%ADnh%20th%E1%BB%A9c/iPhone-17-mau-moi-2.jpg" alt="Alternate Text" />
</div>
<script src="~/Content/js/Js_Product.js"></script>