@{
    ViewBag.Title = "MacbookAirM4";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<link href="~/Content/style_K/Style_TrangCuThe.css" rel="stylesheet" />
<section class="container">
    @*Hình ảnh sản phẩm*@
    <div class="product-image">
        <img src="~/Content/img/0036014_macbook-air-m4-13-inch-8-core-gpu-16gb-ram-256gb-ssd_240.jpeg" alt="iPhone 14 Plus">
    </div>

    @*Thông tin sản phẩm*@
    <div class="product-info" data-id="Macbook-Air-M4" data-price="17490000">
        <h1 class="name">Macbook Air M4</h1>
        <p class="price">17.490.000₫ <span class="old-price">27.990.000₫</span></p>
        <p class="vat">(Đã bao gồm VAT)</p>

        <div class="section">
            <h3>Dung lượng</h3>
            <div class="options">
                <button class="option active">128GB</button>
                <button class="option">256GB</button>
                <button class="option">512GB</button>
            </div>
        </div>

        <div class="section">
            <h3>Màu sắc</h3>
            <div class="colors">

                <span class="color black"></span>
                <span class="color red active"></span>
                <span class="color blue"></span>
                <span class="color yellow"></span>
            </div>
        </div>

        <div class="section">
            <h3>Ưu đãi</h3>
            <ul class="offers">
                <li>Giảm 200.000đ khi thanh toán qua VNPAY.</li>
                <li>Hỗ trợ trả góp 0% lãi suất.</li>
                <li>Ốp lưng chính hãng giảm 990.000đ khi mua kèm.</li>
                <li>Thu cũ đổi mới – trợ giá lên đến 1.000.000đ.</li>
            </ul>
        </div>

       
        <button class="buy-btn add-to-cart">THÊM VÀO GIỎ HÀNG<i class="fa-solid fa-cart-shopping"></i></button>
    </div>
</section>
<script src="~/Content/js/Js_Product.js"></script>